<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Bot1cmd</display-name>
    <servlet-name>Bot1cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot1cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot1cmd</servlet-name>
    <url-pattern>/Bot1cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bot5cmd</display-name>
    <servlet-name>Bot5cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot5cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot5cmd</servlet-name>
    <url-pattern>/Bot5cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bot6cmd</display-name>
    <servlet-name>Bot6cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot6cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot6cmd</servlet-name>
    <url-pattern>/Bot6cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiltCam1</display-name>
    <servlet-name>TiltCam1</servlet-name>
    <servlet-class>levlab.servlet.one.TiltCam1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiltCam1</servlet-name>
    <url-pattern>/TiltCam1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanCam1</display-name>
    <servlet-name>ScanCam1</servlet-name>
    <servlet-class>levlab.servlet.one.ScanCam1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanCam1</servlet-name>
    <url-pattern>/ScanCam1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoScan1</display-name>
    <servlet-name>AutoScan1</servlet-name>
    <servlet-class>levlab.servlet.one.AutoScan1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoScan1</servlet-name>
    <url-pattern>/AutoScan1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Config</display-name>
    <servlet-name>Config</servlet-name>
    <servlet-class>levlab.servlet.one.Config</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/Config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlainCam1</display-name>
    <servlet-name>PlainCam1</servlet-name>
    <servlet-class>levlab.servlet.one.PlainCam1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlainCam1</servlet-name>
    <url-pattern>/PlainCam1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bot8cmd</display-name>
    <servlet-name>Bot8cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot8cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot8cmd</servlet-name>
    <url-pattern>/Bot8cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BotCmd</display-name>
    <servlet-name>BotCmd</servlet-name>
    <servlet-class>levlab.servlet.one.BotCmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotCmd</servlet-name>
    <url-pattern>/BotCmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bot9cmd</display-name>
    <servlet-name>Bot9cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot9cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot9cmd</servlet-name>
    <url-pattern>/Bot9cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabTest</display-name>
    <servlet-name>LabTest</servlet-name>
    <servlet-class>levlab.servlet.one.LabTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabTest</servlet-name>
    <url-pattern>/LabTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bot7cmd</display-name>
    <servlet-name>Bot7cmd</servlet-name>
    <servlet-class>levlab.servlet.one.Bot7cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bot7cmd</servlet-name>
    <url-pattern>/Bot7cmd</url-pattern>
  </servlet-mapping>
</web-app>